@import "../../styles/utility/mixins";

.portfolio {
  margin-top: px-to-rem(120);

  @include ctx_tablet {
    margin-top: px-to-rem(40);
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: px-to-rem(90);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }
  }

  &__slider-item {
    &_prev,
    &_next {
      width: 20.833333333%;
      height: auto;
    }

    &_current {
      width: 70%;
      max-width: px-to-rem(800);
      height: auto;
      max-height: px-to-rem(600);
      margin: 0 px-to-rem(20);
    }
  }
}
