// Colors
$prime-orange: #f1592a;

// Font size
$base-font-size: 16;

// Font families
$mayeka-light: "Mayeka Light Demo", sans-serif;
$mayeka-regular: "Mayeka Regular Demo", sans-serif;
$mayeka-bold: "Mayeka Bold Demo", sans-serif;

$roboto: Roboto, sans-serif;
