@import "reset";
@import "utility/variables";
@import "fonts/fonts";
@import "common";
@import "../chunks/header/header";
@import "../chunks/top-news/top-news";

html {
  font-size: $base-font-size+px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}

body {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}
