@font-face {
  font-family: mayeka-regular-demo-regular;
  src:
    url("MayekaRegularDemo.otf") format("woff"),
    url("MayekaRegularDemo.otf") format("opentype"),
    url("MayekaRegularDemo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-thin-demo-regular;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.thin-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-light-demo-regular;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.light-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-demi-bold-demo-regular;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.demi-bold-demo.otf") format("truetype");
}

@font-face {
  font-family: mayeka-bold-demo-regular;
  src:
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("woff"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("opentype"),
    url("https://dafonttop.com/wp-data/m/396/396/file/mayeka.bold-demo.otf") format("truetype");
}
