@import "../../styles/utility/mixins";

%footer-title {
  font-family: $mayeka-regular;
  font-size: px-to-rem(20);
}

%footer-text {
  font-family: $roboto;
  font-size: px-to-rem(18);
  font-weight: 300;
}

.footer {
  background-color: #414141;
  padding-top: px-to-rem(70);
  padding-bottom: px-to-rem(70);

  &__container {
    display: flex;
    justify-content: center;
  }

  &__section {
    max-width: px-to-rem(610);
    flex-basis: 50%;

    &_left {
      padding-right: px-to-rem(55);
    }

    &_right {
      display: flex;
      flex-wrap: wrap;
      color: #ffffff;
      padding-left: px-to-rem(55);
    }
  }

  &__subscribe {
    display: flex;
    flex-wrap: wrap;
  }

  &__subscribe-label {
    @extend %footer-title;

    flex-basis: 100%;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: px-to-rem(30);
    text-align: left;
  }

  &__subscribe-input {
    flex: 1;
  }

  &__subscribe-button-set {
    margin-left: px-to-rem(15);
  }

  &__social {
    display: flex;
    margin-top: px-to-rem(50);
  }

  &__social-item {
    margin-right: px-to-rem(15);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-30%);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__about {
    color: #ffffff;
    margin-top: px-to-rem(50);
    text-align: left;
  }

  &__about-title {
    @extend %footer-title;
  }

  &__about-text {
    @extend %footer-text;

    margin-top: px-to-rem(15);
  }

  &__contacts {
    text-align: left;
  }

  &__contacts-title {
    @extend %footer-title;
  }

  &__contacts-address {
    @extend %footer-text;

    line-height: 150%;
    margin-top: px-to-rem(15);
  }

  &__menu {
    margin-left: px-to-rem(120);
    text-align: left;
  }

  &__menu-title {
    @extend %footer-title;
  }

  &__menu-list {
    @extend %footer-text;

    display: flex;
    flex-direction: column;
    margin-top: px-to-rem(15);
  }

  &__menu-item {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition:
      color 0.2s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover {
      color: $prime-orange;
      transform: translateX(10%);
    }
  }

  &__right-reserved {
    @extend %footer-title;

    display: flex;
    align-items: flex-end;
    flex-basis: 100%;
    justify-content: flex-end;
    text-align: right;
  }
}
