@import "../../styles/utility/mixins";

.our-team {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: px-to-rem(107.5);
  padding-bottom: px-to-rem(60);

  @include ctx_tablet {
    padding-top: px-to-rem(35);
    padding-bottom: px-to-rem(35);
  }

  &__content {
    width: 100%;
    max-width: px-to-rem(1070);
    display: flex;
    margin-top: px-to-rem(70);

    @include ctx_tablet {
      margin-top: px-to-rem(35);
    }

    @include ctx_tablet(portrait) {
      width: 90%;
    }

    @include ctx_mobile(landscape) {
      width: 90%;
    }

    @include ctx_mobile(portrait) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image-item,
  &__description {
    flex-basis: 50%;
  }

  &__image-item {
    @include ctx_mobile(portrait) {
      max-width: 60%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: px-to-rem(70) px-to-rem(30) 0 px-to-rem(80);

    @include ctx_tablet {
      padding: px-to-rem(35) 0 px-to-rem(35) px-to-rem(50);
    }

    @include ctx_mobile(portrait) {
      align-items: center;
      padding-left: 0;
    }
  }

  &__caption {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(20);
  }

  &__text {
    color: #000000;
    font-family: $roboto;
    font-size: px-to-rem(18);
    font-weight: 300;
    margin-top: px-to-rem(20);
    text-align: left;

    @include ctx_mobile(portrait) {
      text-align: center;
    }
  }

  &__button-set {
    margin-top: px-to-rem(35);
  }
}

.our-team .slideshow-container .prev {
  cursor: pointer;
  position: absolute;
  width: 40px;
  margin-top: 350px;
  height: fit-content;
  padding: 16px;
  color: #f1592a;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.our-team .slideshow-container .next {
  cursor: pointer;
  position: inherit;
  width: 40px;
  margin-top: 280px;
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: right;
  padding: 16px;
  color: #f1592a;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
